<nav class="navbar navbar-dark bg-faded">
    <a class="navbar-brand" style="cursor: pointer;" [routerLink]="['members']">
        
        <img class="d-inline-block align-top" width="30" height="30" src="assets/icon.png" alt="">
        DesLandia
    </a>

    <ul class="nav navbar-nav">
        <li style="cursor: pointer;" class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['members']">Участники
            </a>
        </li>
        <li style="cursor: pointer;" class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['winner']">Параметры
            </a>
        </li>
    </ul>
</nav>