table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

.filterBlock {
  width: 200px;
  top: 50px;
  margin: 20px auto;
}

.mat-sort-header-container .mat-sort-header-arrow {
  color: #fff;
}

th.mat-header-cell {
  background: #d42ed6;
  color: white;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.button_block{
  display: flex;
  justify-content: center;
}

.winners_block {
  display: flex;
  justify-content: center;
  background: azure;
  padding-bottom: 60px;
}

.winner_block{
  display: flex;
  justify-items: inherit;
  flex-direction: column;
  margin-top: 20px;
}
.winners_topic {
  background: #ff4081;
  color: #fff;
  text-align: center;
}

.winner_parag{
  width: 100%;
  text-align: center;
  margin: 0; 
  color: rgb(250, 250, 250)
}