.top-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    margin: 0 15px
  }

  .range-top-form{
    min-width: 150px;
    max-width: 300px;
    width: 100%; 
    margin: 0 15px
  }
  
  .example-full-width {
    width: 100%;
  }

  .field_block{
      display: flex;
      margin: 20px;
  }

  .ripple{
    height: 60px;
    padding: 20px;
    margin-left: 15px;
    cursor: pointer;
}